body {
    margin: 0px;
    padding: 0px;
    font-family: 'Gabarito';

}

#bg-header {
    font-family: 'Gabarito';
    text-align: center;
    background-image: url('images/bg_image.jpeg');
    background-attachment: fixed;
    padding: 10px;
    font-size: 50px;
    color: white;
}

h2 {
    display: inline;
    font-size: 32px;
}

#units-section {
    margin-top: 6px;
    margin-left: 6px;
    padding: 16px;
    border-radius: 30px;
    width: 50%;
    
}

.dropdown-btn {
    color: black;
    text-decoration: none;
}

.unit-lessons {
    padding: 4px;
    display: none;
}